* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

.grey-bg {
  background-color: $grey-color;

  * {
    color: white;
  }
}

.center-text {
  text-align: center;
}

.common-section {
  margin: 160px 0;
}