@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina Extra";
  src: url("../fonts/Termina-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Termina";
  src: url("../fonts/Termina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

// container
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  @media (min-width: 1600px) {
    max-width: 1520px;
  }
}

.box {
  max-width: 1296px;
  margin: 0 auto;
}

.grey-bg {
  background-color: $grey-color;

  * {
    color: white;
  }
}

.center-text {
  text-align: center;
}

.center-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.common {
  &-section {
    margin: 160px 0;

    @media (max-width: 768px) {
      margin: 80px 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .common-desc {
      text-align: center;

      .h1-heading,
      .h2-heading,
      .h3-heading {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
      }

      .common-heading-wide {
        max-width: 800px;
      }

      .h1-heading {
        max-width: 710px;
      }

      .text,
      .text:last-of-type {
        margin: 36px auto 60px;
        max-width: 1040px;
        line-height: 1.75;
        color: $grey-text-color;

        @media (max-width: 992px) {
          margin: 15px auto 40px;
        }
      }

      + .grid-checker {
        margin-top: 60px;
        @media (max-width: 992px) {
          margin-top: 0;
        }
      }
    }
  }
}
