.line {
  display: flex;
  gap: 20px;

  &-container {
    display: flex;
    flex-direction: column;

    &-mob-reverse {
      @media (max-width: 992px) {
        flex-direction: column-reverse;
      }
    }
  }

  &-endless-mob {
    @media (max-width: 992px) {
      overflow: auto;
      gap: 15px;

      .card {
        &-icon {
          height: 100px;

          @media (max-width: 992px) {
            height: 55px;
          }
        }

        &-short {
          .card-icon {
            height: 140px;
          }
        }
      }
    }

    .card {
      &-icon {
        height: 100px;

        @media (max-width: 992px) {
          height: 55px;
        }
      }
    }
  }

  &-endless {
    width: 95vw;
    max-width: 100vw;
    margin-left: auto;
    overflow: hidden;
    overflow: auto;

    .card {
      min-width: 365px;

      @media (max-width: 992px) {
        min-width: 210px;
      }

      &:last-of-type {
        margin-right: 5vw;
      }

      &-icon {
        height: 100px;

        @media (max-width: 992px) {
          height: 55px;
        }
      }
    }
  }

  &-picture {
    margin-bottom: 20px;

    &-2 {
      .card {
        .text:last-of-type {
          margin-bottom: 47px;

          @media (max-width: 1280px) {
            margin-bottom: 35px;
          }
        }
        .btn {
          width: 100%;

          @media (max-width: 1280px) {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    @media (max-width: 1280px) {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      &-2 {
        .card {
          flex: initial;
          margin-bottom: 0;
        }
      }
    }
  }

  &-small-link,
  &-review {
    @media (max-width: 1280px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 15px;
    }
  }

  &-small-link {
    @media (max-width: 992px) {
      .card-small:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}

.line-endless-mob {
  .card {
    @media (min-width: 1440px) {
      min-height: 480px;
    }
    @media (max-width: 992px) {
      min-width: 210px;
      padding: 20px;

      &-small-extra {
        padding: 10px;
        max-width: 145px;
        min-width: 145px;

        p {
          font-size: 9px;
        }
      }

      .text:last-of-type {
        margin-bottom: 0;

        + .btn {
          margin-top: auto;
          margin-bottom: 0;
        }
      }

      &-price {
        min-width: 240px;
      }
    }
    &-small {
      @media (min-width: 1440px) {
        min-height: unset;
      }
    }
    &-short {
      @media (min-width: 1440px) {
        min-height: unset;
      }

      .card-icon {
        height: 140px;
      }
    }
  }
}

.card {
  padding: 60px 60px 34px;
  background-color: $darkgrey-color;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 0;

  .h5-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  @media (max-width: 1280px) {
    padding: 30px;
    margin: 0 0 20px;
  }

  @media (max-width: 992px) {
    padding: 25px;
  }

  &-icon {
    height: 140px;
    margin-bottom: 30px;

    @media (max-width: 992px) {
      height: 55px;
    }
  }

  .h2-heading {
    margin-bottom: 24px;

    @media (max-width: 992px) {
      margin-bottom: 14px;
    }
  }

  .text {
    color: $grey-text-color;
    line-height: 1.4;

    &:last-of-type {
      margin-bottom: 26px;

      @media (max-width: 1280px) {
        margin-bottom: 0;
      }
    }

    &-12 {
      line-height: 1.6;
    }

    &-10 {
      &:last-of-type {
        margin-top: auto;
      }
    }
  }

  .btn {
    &:last-of-type {
      margin-top: auto;
      margin-bottom: 26px;

      @media (max-width: 1280px) {
        margin-bottom: 0;
      }
    }
  }

  &-big {
    .text:last-of-type {
      margin-bottom: 200px;

      @media (max-width: 1280px) {
        margin-bottom: 60px;
      }
    }
  }

  &-small {
    padding: 18px 24px;
    max-height: 90px;
    flex-direction: row;
    gap: 25px;

    @media (max-width: 1280px) {
      flex-direction: column;
      max-height: unset;
    }

    @media (max-width: 992px) {
      padding: 10px;
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-image {
      max-width: 40px;

      @media (max-width: 992px) {
        max-width: 30px;
      }
    }

    &-text {
      text-decoration: none;
      cursor: pointer;
    }

    &-link {
      color: $grey-text-color;
      font-family: "Termina", sans-serif;
      display: flex;
      margin: 10px;
      width: 100%;
      text-decoration: none;
      align-items: center;

      &:hover {
        color: white;
      }

      @media (max-width: 768px) {
        font-size: 0.5625rem;
        margin: 0;
      }

      span {
        text-decoration: underline;
        color: $grey-text-color;
        font-family: "Termina", sans-serif;

        &:hover {
          color: $grey-text-color;
        }
      }

      &:after {
        content: "↗";
        font-size: 24px;
        margin-left: auto;
        align-items: center;
        @media (max-width: 992px) {
          line-height: 1;
        }
      }
    }

    &-extra {
      .text-14 {
        line-height: 1.2;
      }
      @media (max-width: 992px) {
        flex-direction: row;
        padding: 10px;
        gap: 10px;
        max-width: 145px;
        min-width: 145px;

        &-image {
          max-width: 35px;
        }
      }
    }

    .text {
      margin-bottom: 3px;

      &:last-of-type {
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        color: white;

        @media (max-width: 1280px) {
          margin-bottom: 0;
        }
      }
    }
  }

  &-picture {
    flex: 1 0 49%;
    height: auto;
    align-self: stretch;
    padding: 0;

    @media (max-width: 1280px) {
      // padding: 30px;
    }

    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 768px) {
        position: static;
        transform: none;
      }
    }

    .card-picture-target {
      width: auto;
      height: 100%;
    }

    iframe {
      width: 100%;
      min-height: 300px;

      @media (max-width: 576px) {
        min-height: 182px;
      }
    }

    &:only-child {
      iframe {
        min-height: 600px;

        @media (max-width: 1280px) {
          min-height: 420px;
        }
      }
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

    ~ * {
      position: relative;
      z-index: 2;
    }
  }

  &-review {
    padding: 40px;

    @media (max-width: 992px) {
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 768px) {
      padding: 20px;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px;

      @media (max-width: 576px) {
        margin: 0 0 10px;
      }

      span {
        color: $grey-text-color;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 13px;
        }
        @media (max-width: 576px) {
          font-size: 9px;
        }
      }

      &-image {
        max-width: 58%;

        @media (max-width: 768px) {
          max-width: 50%;
        }
      }
    }

    &-heading {
      font-size: 17px;

      b {
        font-weight: 700;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 576px) {
        font-size: 10px;
        margin-bottom: 7px;
      }
    }

    &-text,
    &-name {
      color: $grey-text-color;
      font-size: 17px;
      line-height: 1.25;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      @media (max-width: 576px) {
        font-size: 9px;
        margin-bottom: 7px;
      }
    }

    &-name {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 100px 0 120px;

    &-item {
      background-color: $darkgrey-color;
      padding: 60px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &:nth-of-type(3n) {
        order: 1;
      }

      @media (max-width: 992px) {
        padding: 30px;
        min-height: 500px;

        &:nth-of-type(3n) {
          order: unset;
        }
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
      }

      .h2-heading {
        margin-top: 0;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-price {
    &-top {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 320px;

      @media (max-width: 992px) {
        font-size: 20px;
        min-height: 208px;
      }

      &-name,
      &-cost {
        font-family: "Termina", sans-serif;
        font-weight: 600;
      }

      &-name {
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 1.2;

        @media (max-width: 992px) {
          font-size: 20px;
        }
      }

      &-cost {
        font-size: 50px;
        display: flex;
        position: relative;
        font-family: "Termina", sans-serif;
        line-height: 1.2;

        @media (max-width: 992px) {
          font-size: 38px;
          margin-bottom: 0;
        }

        &-monthly {
          position: absolute;
          text-align: right;
          font-size: 14px;
          right: 0;
          bottom: -10px;
          font-weight: 400;

          @media (max-width: 992px) {
            font-size: 9px;
          }
        }

        input {
          background-color: transparent;
          border: 0;
          font-weight: 600;
          width: 150px;
          font-family: "Termina", sans-serif;
        }

        > span:first-of-type {
          font-size: 30px;
          font-family: "Termina", sans-serif;
        }
      }

      &-description {
        font-size: 14px;
        margin-bottom: 0;

        @media (max-width: 992px) {
          margin-bottom: 20px;
        }
      }

      .btn,
      .btn:last-of-type {
        margin: auto 0 55px;
        width: 100%;
        font-weight: 600;

        @media (max-width: 992px) {
          margin: auto 0 25px;
        }
      }
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: 992px) {
        display: none;
      }

      li {
        font-size: 14px;
        position: relative;
        padding-left: 40px;
        margin: 15px 0;
        line-height: 1.2;

        &:first-of-type {
          margin-top: 0;
        }

        @media (max-width: 992px) {
          font-size: 11px;
        }

        &:before {
          content: "↗";
          font-size: 17px;
          font-weight: 300;
          position: absolute;
          left: 0;
        }
      }

      &-show {
        display: none;
        color: $grey-text-color;
        text-align: center;
        font-size: 12px;
        margin: 0 auto;

        &:hover {
          color: $grey-text-color;
        }

        @media (max-width: 992px) {
          display: block;

          &.open {
            + .card-price-list {
              display: block;
            }
          }
        }
      }
    }

    .range-container {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }

  &-research-case {
    text-decoration: none;
    transition: 0.3s;

    .text-12 {
      margin-top: auto;
      color: #969696;

      @media (max-width: 576px) {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &:hover {
      background-color: $yellow-color;

      .h5-heading {
        color: $darkgrey-color;
      }

      .text-14 {
        color: $darkgrey-2-color;
      }

      .text-12 {
        color: $darkgrey-color;
      }
    }
  }
}

.article-tip {
  background-color: $darkgrey-color;
  background-image: url(../img/pattern/article-tip.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin: 160px 0;
  padding: 60px 42% 60px 60px;
  border-radius: 10px;

  .h2-heading {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .text,
  .text:last-of-type {
    color: $grey-text-color;
    margin-bottom: 40px;
    font-size: 1rem;
  }

  @media (max-width: 1280px) {
    background-size: cover;
  }

  @media (max-width: 992px) {
    background-image: none;
    padding: 60px;
  }

  @media (max-width: 768px) {
    padding: 30px;
    margin: 40px 0;
  }
}

.grid {
  &-checker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 100px 0 120px;

    &-reverse {
      .grid-checker-item {
        &:nth-of-type(1n) {
          order: 1;
        }

        &:nth-of-type(2n) {
          order: 0;
        }

        &:nth-of-type(3n) {
          order: 3;
        }

        &:nth-of-type(4n) {
          order: 4;
        }

        @media (max-width: 768px) {
          &:nth-of-type(1n),
          &:nth-of-type(2n),
          &:nth-of-type(3n),
          &:nth-of-type(4n) {
            order: unset;
          }
        }
      }
    }

    .text {
      color: $grey-text-color;
      line-height: 1.75;
    }

    &-item {
      background-color: $darkgrey-color;
      padding: 60px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &:nth-of-type(3n) {
        order: 1;
      }

      @media (max-width: 992px) {
        padding: 30px;
        min-height: 500px;

        &:nth-of-type(3n) {
          order: unset;
        }
      }

      @media (max-width: 768px) {
        padding: 25px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
      }

      .h2-heading {
        margin-top: 0;
        margin-bottom: 40px;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }

      .badge-list {
        &-item {
          min-width: 130px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.research-grid {
  .card {
    height: 100%;

    @media (max-width: 992px) {
      margin-bottom: 0;

      .btn:last-of-type {
        margin-bottom: 0;
      }
    }

    .text:only-of-type {
      // margin-bottom: 0;
    }
  }
}

.card-research-case .card-icon {
  max-height: 97px;
}

.home-swiper-container,
.features-swiper-container {
  position: relative;
  max-width: 100%;

  .card-icon {
    height: 100px;
  }

  .swiper-slide {
    height: auto;

    .card {
      height: 100%;

      .btn {
        width: 100%;
      }
    }
  }
}

// .home-swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal, .home-swiper-container .swiper-pagination-custom, .home-swiper-container .swiper-pagination-fraction, .features-swiper-container .swiper-pagination-bullets.swiper-pagination-horizontal, .features-swiper-container .swiper-pagination-custom, .features-swiper-container .swiper-pagination-fraction {
//   bottom: -60px;

//   @media (max-width: 992px) {
//     bottom: -20px;
//   }
// }
