.line {
  display: flex;
  gap: 20px;

  &-endless-mob {
    @media (max-width: 768px) {
      overflow: auto;

      .card {
        min-width: 210px;
      }
    }
  }

  &-endless {
    width: 95vw;
    max-width: 100vw;
    margin-left: auto;
    overflow: hidden;
    overflow: auto;

    .card {
      min-width: 365px;

      @media (max-width: 992px) {
        min-width: 210px;
      }

      &:last-of-type {
        margin-right: 5vw;
      }

      &-icon {
        height: 100px;

        @media (max-width: 992px) {
          height: 55px;
        }
      }
    }
  }

  &-picture {
    margin-bottom: 20px;

    @media (max-width: 1280px) {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-small-link,
  &-review {
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 20px;
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.card {
  padding: 60px 60px 34px;
  background-color: $darkgrey-color;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 0;

  @media (max-width: 1280px) {
    padding: 30px;
    margin: 0 0 20px;
  }

  &-icon {
    height: 140px;
    margin-bottom: 30px;
  }

  .h2-heading {
    margin-bottom: 40px;
  }

  .text {
    color: $grey-text-color;

    &:last-of-type {
      margin-bottom: 26px;
    }
  }

  .btn {
    &:last-of-type {
      margin-top: auto;
      margin-bottom: 26px;
    }
  }

  &-big {
    .text:last-of-type {
      margin-bottom: 200px;

      @media (max-width: 1280px) {
        margin-bottom: 60px;
      }
    }
  }

  &-small {
    padding: 18px 24px;
    max-height: 90px;
    flex-direction: row;
    gap: 25px;

    @media (max-width: 1280px) {
      flex-direction: column;
      max-height: unset;
    }

    &-image {
      max-width: 40px;
    }

    &-text {
      text-decoration: none;
    }

    &-link {
      color: $grey-text-color;
      font-family: 'Termina', sans-serif;
      display: flex;
      margin: 10px;
      width: 100%;
      text-decoration: none;
      align-items: center;

      span {
        text-decoration: underline;
        color: $grey-text-color;
        font-family: 'Termina', sans-serif;

        &:hover {
          color: $grey-text-color;
        }
      }

      &:after {
        content: "↗";
        font-size: 24px;
        margin-left: auto;
        align-items: center;
      }
    }

    .text {
      margin-bottom: 3px;

      &:last-of-type {
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        color: white;

        @media (max-width: 1280px) {
          margin-bottom: 0;
        }
      }
    }
  }

  &-picture {
    flex: 1 0 49%;
    height: auto;
    align-self: stretch;
    padding: 60px;

    @media (max-width: 1280px) {
      padding: 30px;
    }

    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    iframe {
      width: 100%;
      min-height: 300px;
    }

    &:only-child {
      iframe {
        min-height: 600px;

        @media (max-width: 1280px) {
          min-height: 420px;
        }
      }
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

    ~* {
      position: relative;
      z-index: 2;
    }
  }

  &-review {
    padding: 40px;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px;

      @media (max-width: 768px) {
        span {
          font-size: 13px;
        }
      }

      &-image {
        max-width: 58%;
      }
    }

    &-heading {
      font-size: 17px;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-text,
    &-name {
      color: $grey-text-color;
      font-size: 17px;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-name {
      font-weight: bold;
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      padding: 30px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 100px 0 120px;

    &-item {
      background-color: $darkgrey-color;
      padding: 60px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &:nth-of-type(3n) {
        order: 1;
      }

      @media (max-width: 992px) {
        padding: 30px;
        min-height: 500px;

        &:nth-of-type(3n) {
          order: unset;
        }
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
      }

      .h2-heading {
        margin-top: 0;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-price {

    &-top {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 320px;

      @media (max-width: 992px) {
        font-size: 20px;
        min-height: 240px;
      }

      &-name,
      &-cost {
        font-family: 'Termina', sans-serif;
        font-weight: 600;
      }

      &-name {
        font-size: 30px;
        margin-bottom: 0;

        @media (max-width: 992px) {
          font-size: 20px;
        }
      }

      &-cost {
        font-size: 50px;
        display: flex;
        position: relative;

        @media (max-width: 992px) {
          font-size: 38px;
        }

        &-monthly {
          position: absolute;
          text-align: right;
          font-size: 14px;
          right: 0;
          bottom: -10px;

          @media (max-width: 992px) {
            font-size: 9px;
          }
        }

        input {
          background-color: transparent;
          border: 0;
          font-weight: 600;
          width: 65%;
        }
      }

      &-description {
        font-size: 14px;
        margin-bottom: 0;
      }

      .btn,
      .btn:last-of-type {
        margin: auto 0 55px;
        width: 100%;
        font-weight: 600;

        @media (max-width: 992px) {
          margin: auto 0 25px;
        }
      }
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: 992px) {
        display: none;
      }

      li {
        font-size: 14px;
        position: relative;
        padding-left: 40px;
        margin: 15px 0;

        @media (max-width: 992px) {
          font-size: 11px;
        }

        &:before {
          content: "↗";
          font-size: 17px;
          font-weight: 300;
          position: absolute;
          left: 0;
        }
      }

      &-show {
        display: none;
        color: $grey-text-color;
        text-align: center;
        font-size: 12px;
        margin: 0 auto;

        &:hover {
          color: $grey-text-color;
        }

        @media (max-width: 992px) {
          display: block;

          &.open {
            +.card-price-list {
              display: block;
            }
          }
        }
      }
    }

    .range-container {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }
}

.line-endless-mob .card {
  @media (max-width: 992px) {
    min-width: 240px;
    padding: 20px;
  }
}

.article-tip {
  background-color: $darkgrey-color;
  background-image: url(../img/pattern/article-tip.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin: 160px 0;
  padding: 60px 40% 60px 60px;
  border-radius: 10px;

  .h2-heading {
    margin-top: 0;
  }

  .text {
    color: $grey-text-color;
    margin-bottom: 40px;
  }

  @media (max-width: 992px) {
    background-image: none;
    padding: 60px;
  }

  @media (max-width: 768px) {
    padding: 30px;
    margin: 40px 0;
  }
}

.grid {
  &-checker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 100px 0 120px;

    &-reverse {
      .grid-checker-item {
        &:nth-of-type(1n) {
          order: 1;
        }

        &:nth-of-type(2n) {
          order: 0;
        }

        &:nth-of-type(3n) {
          order: 3;
        }

        &:nth-of-type(4n) {
          order: 4;
        }

        @media (max-width: 768px) {

          &:nth-of-type(1n),
          &:nth-of-type(2n),
          &:nth-of-type(3n),
          &:nth-of-type(4n) {
            order: unset;
          }
        }
      }
    }

    .text {
      color: $grey-text-color;
    }

    &-item {
      background-color: $darkgrey-color;
      padding: 60px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      &:nth-of-type(3n) {
        order: 1;
      }

      @media (max-width: 992px) {
        padding: 30px;
        min-height: 500px;

        &:nth-of-type(3n) {
          order: unset;
        }
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
      }

      .h2-heading {
        margin-top: 0;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}