input {
    outline: none;
}

.text-input {
    background-color: $grey-color;
    border: 0;
    border-radius: 10px;
    padding: 13px 20px;
    font-family: 'Termina', sans-serif;

    &::placeholder {
        color: #B4B4B4;
    }
}