.modal {
  &-content {
    background-color: $darkgrey-color;
  }

  &-body {
    padding: 60px;

    @media (max-width: 992px) {
      padding: 30px 20px;
    }
  }

  .form {
    margin-top: 35px;
    &-bottom {
      margin-bottom: 30px;
    }
  }

  &-lg {
    min-width: 880px;

    @media (max-width: 992px) {
      min-width: auto;
    }
  }

  .h3-heading:first-child {
    margin-bottom: 40px;
  }

  .form-bottom-static {
    margin: 40px 0 0;

    + .settings {
        margin-top: 60px;
    }
  }
}

.btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  background-size: 12px;
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: $grey-2-color;
  border-radius: 50%;
  padding: 7px;
  z-index: 1;
}

.shop-choice {
  margin: 50px 0;

  &-line {
    margin-top: 25px;
    display: flex;
    gap: 20px;
  }

  &-item {
    background-color: $grey-2-color;
    border-radius: 10px;
    padding: 18px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;

    &-text {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      &-name {
        font-size: 16px;
        font-family: "Termina", sans-serif;
        font-weight: 500;
      }

      &-desc {
        font-size: 10px;
        max-width: 90%;
        margin: 7px 0 0;
      }
    }

    &.disabled {
      opacity: 0.4;
    }

    &-price {
      text-align: right;
      display: flex;
      flex-direction: column;

      &-monthly {
        font-size: 20px;
        font-weight: 600;
        font-family: "Termina", sans-serif;
        color: $purple-color;
      }

      &-total {
        font-size: 10px;
      }
    }

    &-radio {
      visibility: hidden;
      position: absolute;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.billing {
  &-block {
    margin: 35px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-line {
    background-color: $grey-2-color;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 15px 0 0;
    position: relative;
    display: flex;
    gap: 15px;
    width: 100%;

    & + .btn {
      margin-top: 35px;
    }

    &-radio {
      visibility: hidden;
      position: absolute;
    }

    &-name {
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.2;

      b {
        font-weight: 600;
      }

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    &-text {
      font-size: 10px;
      line-height: 1.6;
    }

    &-edit {
      border: 0;
      background-color: transparent;
      background-image: url(../img/icons/edit.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 13px;
      height: 13px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
}

.issue-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 35px 0 70px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    gap: 0;
    grid-template-columns: repeat(1, 1fr);

    .card {
      width: 100%;
      max-width: 100%;
    }
  }

  .card {
    background-color: $grey-2-color;
    flex-direction: row-reverse;
    gap: 0;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 25px;

    &-small-image {
      max-width: 35px;
    }

    .text-14 {
      font-weight: 600;
      color: white;
    }

    .text-12 {
      font-size: 0.625rem;
      height: auto;
      display: inline-block;
      margin-bottom: auto;
      text-overflow: initial;
      color: $grey-text-color;
    }
  }
}

.faq-block {
  margin: 35px 0 70px;

  &-item {
    margin: 12px 0 0;

    &[open] summary::after {
      background-image: url(../img/icons/minus.svg);
    }
  }

  &-question {
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid #b5b5b5;
    margin-bottom: 15px;
    padding: 0 50px 15px 15px;
    font-size: 0.875rem;
    list-style: none;
    position: relative;

    &::after {
      content: "";
      transition: 0.3s;
      background-image: url(../img/icons/plus.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 15px;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &-answer {
    padding: 0 15px 15px;

    .text {
      color: $grey-text-color;
      font-size: 0.875rem;
    }
  }
}

.activate {
  &-logo {
    width: 180px;
    margin-bottom: 70px;
  }

  &-body {
    .text:last-of-type + .btn {
      margin-top: 50px;

      @media (max-width: 768px) {
        margin-top: 30px;
      }
    }

    .text-12 {
        color: $grey-text-color;
    }
  }
}

.register {
    &-body {
        .form-switch-text {
            font-size: 10px;
            margin: 0 0 0 5px;
        }
        .form-switch-slider {
            width: 29px;
            height: 13px;
            &:before {
                width: 11px;
                height: 11px;
                bottom: 1px;
                left: 1px;
            }
        }
        input:checked+.form-switch-slider:before {
            transform: translateX(16px);
        }
    }
}

.create-profile {
  &-popup {
    .h3-heading {
      margin-bottom: 20px;
    }
  }
}

.login {
  &-popup {
    &-line {
      display: flex;
      gap: 20px;

      + .login-popup-line {
        margin-top: 20px;

        @media (max-width: 576px) {
          margin-top: 10px;
        }
      }

      @media (max-width: 576px) {
        gap: 10px;
      }
    }

    &-body {
      .btn-darkgrey {
        background-color: $grey-2-color;
        flex-grow: 1;
        flex-basis: 50%;
        border-color: transparent;
        padding: 14px 25px;
      }
    }

    &-divider {
      border: 0;
      opacity: 1;
      margin: 40px 0;
      height: 1px;
      background-color: #dcdcdc;
      position: relative;

      &:before {
        content: "or";
        background-color: $darkgrey-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px;
        font-size: 10px;
      }
    }
  }
}

#login-popup .modal-dialog {
    max-width: 480px;
}

.upgrade-body {
  .upgrade-pattern-image {
    max-width: 275px;
    margin-bottom: 50px;
  }

  .h2-heading + .text {
    margin: 40px 0 50px;
  }

  &-bg {
    background-image: url(../img/pattern/deep-bg.svg);
    background-size: cover;
  }

  .card-price-top {
    min-height: auto;
    margin-bottom: 50px;
  }

  .range-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.modal-btn-container {
    margin: 50px 0 0;
    width: 100%;
}