.article {
  .text {
    font-size: 18px;
    color: $grey-text-color;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      font-size: 11px;
    }
  }

  .h1-heading,
  .h2-heading,
  .h3-heading {
    margin: 80px auto 40px;

    @media (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 13px;
    }
  }

  .row-images {
    margin: 100px -12px;
    + .row-images {
      margin: -70px -12px 100px;
    }
    + .box .col-md-6:first-of-type .h1-heading:first-of-type,
    + .box .col-md-6:first-of-type .h2-heading:first-of-type,
    + .box .col-md-6:first-of-type .h3-heading:first-of-type {
      @media (max-width: 768px) {
        margin-top: 0;
      }
    }
    + .box .col-md-6 .h1-heading:first-of-type,
    + .box .col-md-6 .h2-heading:first-of-type,
    + .box .col-md-6 .h3-heading:first-of-type {
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
    @media (max-width: 768px) {
      margin: 40px 0;
      + .row-images {
        margin: -15px 0 15px;
      }
    }
    .article-image {
      margin: 0;
      @media (max-width: 768px) {
        margin: 15px 0 0;
      }
    }
  }

  &-top-image {
    position: relative;
    max-height: 410px;
    overflow: hidden;

    img {
      max-width: 100%;
      border-radius: 10px;
      position: relative;
    }

    &-text {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 130px;
      max-width: 50%;

      @media (max-width: 768px) {
        left: 40px;
        max-width: 80%;
      }
    }

    .h1-heading,
    .h2-heading,
    .h3-heading,
    .text {
      margin: 0;
    }
  }

  &-image {
    margin: 100px 0;

    @media (max-width: 768px) {
      margin: 40px 0 0;
    }

    img {
      max-width: 100%;
      border-radius: 10px;
    }

    + .box {
      margin-top: 100px;
    }
  }

  &-info {
    margin: 160px 0 40px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      margin: 40px 0;
    }

    &-author {
      background-color: $darkgrey-color;
      border-radius: 10px 0 0 10px;
      padding: 40px 120px;
      flex-grow: 1;
      @media (max-width: 992px) {
        display: flex;
        justify-content: space-between;
        padding: 25px;
        border-radius: 7px;

        &-name {
          color: $grey-text-color;
          font-size: 11px;
        }
      }
    }

    &-heading {
      margin-right: 40px;
      color: $grey-text-color;

      @media (max-width: 992px) {
        margin-right: 20px;
        font-size: 11px;
      }
    }
  }

  &-share {
    display: flex;
    background-color: $darkgrey-color;
    border-radius: 0 10px 10px 0;
    padding: 40px 120px;

    @media (max-width: 992px) {
      margin: 15px 0 0;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      border-radius: 7px;
    }

    &-links {
      a {
        margin: 0 0 0 20px;

        @media (max-width: 992px) {
          margin: 0 0 0 35px;

          img {
            max-width: 20px;
          }
        }
        @media (max-width: 375px) {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  &-other {
    background-color: $darkgrey-color;
    display: flex;
    padding: 60px;
    align-items: flex-start;
    gap: 65px;
    border-radius: 10px;

    @media (max-width: 576px) {
      flex-direction: column;
      padding: 25px;
      gap: 30px;
    }

    &-next {
      flex-direction: row-reverse;
    }

    &-text {
      .text {
        color: $grey-text-color;
      }
    }
  }

  &-legal {
    .text {
      font-size: 14px;
      margin: 0;
    }
  }
}
