.search {
  &-text {
    font-weight: 700;
    font-size: 18px;
    margin: 0 40px 0 0;
  }

  &-row {
    display: flex;
    align-items: center;
    margin: 50px 0;

    .filter {
      @media (min-width: 1600px) {
        margin-left: auto;
      }
    }

    .filter-btn {
      border-radius: 10px;
      white-space: nowrap;

      &:nth-of-type(even) {
        @media (max-width: 768px) {
          border-radius: 20px;
        }
      }

      &:hover {
        background-color: $yellow-color;
        color: $darkgrey-color;
      }
    }

    @media (max-width: 1280px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 50px 0 20px;
    }
  }

  &-form {
    position: relative;
    margin-right: auto;

    &-container {
      margin-right: 30px;

      @media (max-width: 768px) {
        width: 100%;
        display: flex;
        margin-right: 0;
        gap: 15px;
      }
    }

    .btn-search {
      position: absolute;
      right: 28px;
      top: 19px;
      padding: 0;

      @media (max-width: 768px) {
        right: 15px;
        top: 11px;
        padding: 0;
        width: 12px;
        height: 12px;
      }
    }

    .text-input {
      background-color: $darkgrey-color;
      min-width: 430px;
      padding: 16px 20px;

      @media (max-width: 1600px) {
        min-width: unset;
      }

      @media (max-width: 768px) {
        min-width: 100%;
        font-size: 9px;
        padding: 10px 15px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-swiper {
    &-container {
      position: relative;
      max-width: 100%;

      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: -60px;
        @media (max-width: 992px) {
          bottom: -20px;
        }
      }
    }
    &-button {
      &-prev {
        @media (max-width: 992px) {
          left: 0;
          &:after {
            font-size: 24px;
          }
        }
      }
      &-next {
        @media (max-width: 992px) {
          right: 0;
          &:after {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  &-active {
    background: white;
  }
}
