.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading {
    font-family: 'Termina', sans-serif;
}

.h1-heading,
.h2-heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.h3-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.h4-heading {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.h5-heading {
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.h6-heading {
    font-size: .875rem;
    margin-bottom: 20px;
}

.text {
    font-size: 1rem;

    &-14 {
        font-size: .875rem;
    }

    &-12 {
        font-size: .75rem;
    }

    &-10 {
        font-size: .625rem;
    }
}

.filter {
    display: flex;
    gap: 20px;

    @media (max-width: 1280px) {
        flex-wrap: wrap;
        margin: 20px 0;
    }

    &-btn {
        flex-grow: 1;
        padding: 13px 20px;
        background-color: $darkgrey-color;
        text-align: center;
        border-radius: 50px;
        text-decoration: none;
        font-size: 20px;
        font-family: "Termina", sans-serif;

        &:nth-of-type(even) {
            border-radius: 10px;
        }

        &.active {
            background-color: $yellow-color;
            color: black;
        }
    }
}

.btn {
    padding: 13px 24px;
    font-family: 'Termina', sans-serif;
    border-radius: 10px;
    font-size: 14px;
    border: 0;
    color: $darkgrey-color;

    &-purple {
        background-color: $purple-color;
    }

    &-yellow {
        background-color: $yellow-color;
    }

    &-white {
        background-color: white;
    }

    &-darkgrey {
        background-color: $darkgrey-color;
        color: white;
    }

    &-wide {
        @media (min-width: 1600px) {
            padding: 13px 50px;
        }
    }

    &-center-wrap {
        margin: 70px 0 0;
        text-align: center;
    }

    &-search {
        width: 18px;
        height: 18px;
        display: inline-block;
        background-image: url(../img/icons/search-icon.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 0;
    }
}