$grey-color: #353535;
$grey-2-color: #343434;
$lightgrey-color: #B4B4B4;
$darkgrey-color: #202020;
$darkgrey-2-color: #353535;
$grey-text-color: #C4C4C4;
$grey-border-color: #454545;
$purple-color: #BBA3FF;
$yellow-color: #EBFF72;
$red-color: #F35500;
$blue-color: #4280EF;