@import "variables";
@import "base";
@import "typography";
@import "form";

.admin-container {
    display: flex;
}

.sidebar {
    background-color: $grey-color;
    padding: 20px;
    min-height: 100vh;
    min-width: 50px;
    transition: .3s;

    &-profile-name, &-profile-status {
        background-color: white;
        font-size: 0;
        border-radius: 10px;
        padding: 10px 5px;
    }

    &-list {
        .btn {
            font-size: 0;
            padding: 10px 5px;
        }
        >* {
            max-width: 20px;
            transition: .3s;

            .account-link {
                font-size: 0;
            }

            .account-link>* {
                opacity: 0;
            }
        }
    }

    &:hover {
        min-width: 220px;

        .sidebar-profile-image {
            width: 56px;

            img {
                display: inline-block;
            }
        }

        .sidebar-profile-name, .sidebar-profile-status {
            background-color: transparent;
            padding: 0;
        }

        .sidebar-profile-name {
            font-size: 14px;
        }

        .sidebar-profile-status {
            font-size: 10px;
        }

        .btn {
            font-size: .75rem;
            padding: 13px 24px;
        }

        .sidebar-list {
            * {
                max-width: initial;

                .account-link, .btn {
                    font-size: .75rem;
                }

                .account-link>* {
                    opacity: 1;
                }
            }
        }
    }

    &-profile {
        margin-bottom: 5px;

        &-name {
            font-weight: 700;
            margin: 10px 0 0;
        }

        &-image {
            width: 11px;
            height: 54px;
            background-color: $darkgrey-color;
            border-radius: 10px;
            position: relative;
            transition: .3s;

            img {
                position: absolute;
                width: 110%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
            }
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
    }
}

.account {
    &-list {
        &-block {
            background-color: $darkgrey-color;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            margin: 15px 0;
        }

        .form-switch {
            max-width: 100%;
            width: 100%;
            padding: 0;

            .form-switch-slider {
                order: 3;
                right: 0;
                left: auto;
            }

            .account-link-icon {
                order: 1;
                margin-right: 15px;
            }

            .account-link-icon+span {
                order: 2;
            }
        }
    }

    &-link {
        padding: 12px 15px;
        display: flex;
        gap: 15px;
        font-size: 12px;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

.content {
    img {
        max-width: 100%;
    }
}